# Bibliotecas

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
from datetime import date, datetime

# Sanity check

## Combinando as tabelas, filtrando o ESTADO e compactando

In [ ]:
nome_colunas = [
        "cnpj_basico",
        "cnpj_ordem",
        "cnpj_dv",
        "cod_identificador_matriz_filial",
        "nome_fantasia",
        "cod_situacao_cadastral",
        "data_situacao_cadastral",
        "cod_motivo_situacao_cadastral",
        "end_nome_cidade_no_exterior",
        "end_cod_pais",
        "data_inicio_atividade",
        "cod_cnae_fiscal_primaria",
        "cod_cnae_fiscal_secundaria",
        "end_tipo_de_logradouro",
        "end_logradouro",
        "end_numero",
        "end_complemento",
        "end_bairro",
        "end_cep",
        "end_uf",
        "end_cod_municipio",
        "ddd1",
        "telefone1",
        "ddd2",
        "telefone2",
        "dddfax",
        "fax",
        "email",
        "cod_situacao_especial",
        "data_situacao_especial"]

In [ ]:
#-----------------------------------------------------------> STEP: Juntar e compactar bases.
# Tempo p execução da celula: 11m
# 0) Lista com nome de todos arquivos contidos na pasta 1


pasta_arquivos_cnpj = "/content/drive/MyDrive/Base - CNPJ - 1 - Alterações"
arquivos = os.listdir(pasta_arquivos_cnpj)

cont = 0
endereço_arquivos = []

for i in arquivos:
    a = pasta_arquivos_cnpj + r"/" + i
    endereço_arquivos.append(a)

# 1) Pega tabelas originais, filtra o estado e salva na pasta 2 


for arquivo in endereço_arquivos:
    cnpj = pd.read_csv(arquivo, sep=";", names=nome_colunas, encoding="latin1", dtype="object",  compression="zip")
    #----------------------->  ESCOLHER ESTADO
    tabela_cnpj_filtrada = cnpj.loc[cnpj['end_uf'] == 'MT'] 
    cont = cont + 1
    tabela_cnpj_filtrada.to_csv("/content/drive/MyDrive/Base - CNPJ - 2 - (Filtrada)" + r"/" + "DF_filtrado" + str(cont) + ".csv", index=False)


# 2) Lista com nome de todos arquivos contidos na pasta 2, faz a junção de todas as tabelas e salva na pasta 3


juntar_bases_filtradas = "/content/drive/MyDrive/Base - CNPJ - 2 - (Filtrada)"
arquivos =  os.listdir(juntar_bases_filtradas)

endereço_bases_filtradas = []
for i in arquivos:
    a = juntar_bases_filtradas + r"/" + i
    endereço_bases_filtradas.append(a)

arquivo_principal = endereço_bases_filtradas[0]
base_principal = pd.read_csv(arquivo_principal, dtype="object")

for base in endereço_bases_filtradas[1:]:
    base_append = pd.read_csv(base, dtype="object")
    base_principal = pd.concat([base_principal,base_append],ignore_index=True)

base_principal.to_csv("/content/drive/MyDrive/Base - CNPJ - 3 - Final/Tabela_final.csv", index=False )

#----------------------------------------------------------------------------------------> REINICIAR KERNEL! MUITO USO DE MEMORIA RAM.

##Filtros gerais, Drop colunas e correção de tipos

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Base - CNPJ - 3 - Final/Tabela_final.csv", dtype="object")

In [ ]:
    #-------------> Cod 08 = Empresa BAIXADA, Cod 03 = Suspensa
    
    #df = df.loc[(df['cod_situacao_cadastral'] == '08') | (df['cod_situacao_cadastral'] == '03')]
    df = df.loc[(df['cod_situacao_cadastral'] == '08')]


    #------------> Colunas não necessárias ( Motivo: As colunas retiradas a baixo não ofereceram nenhuma informação adicional relevante para os fins das analises)

    df.drop(columns=['data_inicio_atividade','end_bairro','end_complemento','end_numero','end_logradouro','end_tipo_de_logradouro','cod_cnae_fiscal_secundaria','end_cod_pais','end_nome_cidade_no_exterior','ddd1','telefone1','ddd2','telefone2','dddfax','fax','email','cod_situacao_especial','data_situacao_especial'], inplace = True)

    #------------> Verificar:
    display(df)

       cnpj_basico cnpj_ordem cnpj_dv  ...   end_cep end_uf end_cod_municipio
7         22019650       0001      11  ...  78140100     MT              9167
8         02269608       0004      94  ...  78840000     MT              9779
13        22020365       0001      10  ...  78450000     MT              9937
14        22020821       0001      22  ...  78175000     MT              9129
15        22022798       0001      05  ...  78652000     MT              0131
...            ...        ...     ...  ...       ...    ...               ...
910245    22009699       0001      93  ...  78125044     MT              9167
910247    22011424       0001      94  ...  78020973     MT              9067
910252    22014065       0001      29  ...  78553004     MT              8985
910260    22016447       0001      91  ...  78578000     MT              1184
910261    22016732       0001      02  ...  78460000     MT              9117

[392209 rows x 12 columns]

In [ ]:
#-------------------------------------------> Definindo tipos para as colunas


df = df.astype({
    'cnpj_basico':'int64',
    'cnpj_ordem':'int64',
    'cnpj_dv':'int64',
    'nome_fantasia':'object',
    'cod_identificador_matriz_filial':'category',
    'cod_situacao_cadastral':'category',
    'data_situacao_cadastral':'datetime64',
    'cod_motivo_situacao_cadastral':'category',
    'cod_cnae_fiscal_primaria':'category',
    'end_cep':'object',
    'end_uf':'category',
    'end_cod_municipio':'category'
    })

In [ ]:
#-------------> Ocorrencias a partir de MARÇO/2020
    
df = df.loc[(df['data_situacao_cadastral'] >= '2020-02-25') & (df['data_situacao_cadastral'] <= '2021-07-27')]

#--------------> Organizar por data

df.sort_values(by=['data_situacao_cadastral'])

        cnpj_basico  cnpj_ordem  cnpj_dv  ...   end_cep end_uf end_cod_municipio
401993     33732741           1       16  ...  78550358     MT              8985
396063     32894519           1       57  ...  78550482     MT              8985
116643     27080984           1       14  ...  78250000     MT              8999
401679     36297268           1       84  ...  78760000     MT              9083
203035     31028457           1       38  ...  78890000     MT              9907
...             ...         ...      ...  ...       ...    ...               ...
317738     42072631           1       66  ...  78558418     MT              8985
895524     13783995           1       56  ...  78140050     MT              9167
851162     40009445           1       57  ...  78050000     MT              9067
477850     37723357           1        8  ...  78390000     MT              9033
573444     36956563           1        3  ...  78575000     MT              9819

[44881 rows x 12 columns]

## Validando colunas

In [ ]:
#Contagem de nulos

df.isna().sum()

cnpj_basico                            0
cnpj_ordem                             0
cnpj_dv                                0
cod_identificador_matriz_filial        0
nome_fantasia                      17081
cod_situacao_cadastral                 0
data_situacao_cadastral                0
cod_motivo_situacao_cadastral          0
cod_cnae_fiscal_primaria               0
end_cep                                0
end_uf                                 0
end_cod_municipio                      0
dtype: int64

In [ ]:
#STEP: ---------------------------------------------------> Validando colunas

print('Codigos de situação cadastral: ', df['cod_situacao_cadastral'].unique())
print('Codigos de municipios: ',df['end_cod_municipio'].unique())
print('Codigos da coluna estados: ', df['end_uf'].unique())
print('Codigos de motivos da situação cadastral: ', df['cod_motivo_situacao_cadastral'].unique())

Codigos de situação cadastral:  ['08']
Categories (1, object): ['08']
Codigos de municipios:  ['9779', '9183', '8985', '0127', '9151', ..., '0101', '1082', '1040', '9023', '9879']
Length: 141
Categories (141, object): ['9779', '9183', '8985', '0127', ..., '1082', '1040', '9023', '9879']
Codigos da coluna estados:  ['MT']
Categories (1, object): ['MT']
Codigos de motivos da situação cadastral:  ['01', '02', '31', '54', '66', '10', '05', '06', '15']
Categories (9, object): ['01', '02', '31', '54', ..., '10', '05', '06', '15']

## Tabelas auxiliares

In [ ]:
nome_motivos = ['cod_motivo_situacao_cadastral','Motivo']
df_motivos =  pd.read_csv("/content/drive/MyDrive/Tabelas apoio - CNPJ/Tabela de motivos .MOTICSV",sep=";",names=nome_motivos, dtype="object")

#display(df_motivos)

In [ ]:
nome_municipios = ['end_cod_municipio','Municipio']
df_municipios =  pd.read_csv("/content/drive/MyDrive/Tabelas apoio - CNPJ/Tabela de municipios .MUNICCSV",sep=";",names=nome_municipios, dtype="object")

#display(df_municipios)

In [ ]:
nome_cnae = ['cod_cnae_fiscal_primaria','Ramo da empresa']
df_cnae =  pd.read_csv("/content/drive/MyDrive/Tabelas apoio - CNPJ/tabela de CNAEs.CNAECSV",sep=";",names=nome_cnae,encoding="latin1", dtype="object")

#display(df_cnae)

## Colunas auxiliares

In [ ]:
#Nome dos municipios
df = pd.merge(df,df_municipios, how = 'left', on = 'end_cod_municipio')

#Nome dos motivos
df = pd.merge(df,df_motivos, how = 'left', on = 'cod_motivo_situacao_cadastral')

#Ramo da empresa
df = pd.merge(df,df_cnae, how = 'left', on = 'cod_cnae_fiscal_primaria')


#display(df)

In [ ]:
#Coluna Ano+Mes
df['Ano'] = df['data_situacao_cadastral'].dt.year.astype(str)
df['Mes'] = df['data_situacao_cadastral'].apply(lambda x: str(x)[5:7])

df['Ano/Mes'] = df[['Ano','Mes']].apply(''.join,axis=1).astype(int)

df.head(20)

    cnpj_basico  cnpj_ordem  cnpj_dv  ... Ano/Mes   Ano Mes
0       2269608           4       94  ...  202009  2020  09
1      22024175           1       71  ...  202106  2021  06
2      22042298           1       35  ...  202002  2020  02
3      22058868           1       85  ...  202102  2021  02
4       4362488           3       10  ...  202004  2020  04
5      22154346           1       87  ...  202102  2021  02
6      18252508           2       23  ...  202009  2020  09
7      22182983           1       67  ...  202012  2020  12
8      22194897           1       74  ...  202012  2020  12
9      22196481           1       95  ...  202007  2020  07
10     22199597           1       88  ...  202010  2020  10
11     22200394           1       64  ...  202007  2020  07
12     22229337           1        8  ...  202010  2020  10
13     22236159           1       42  ...  202103  2021  03
14     22254956           1       52  ...  202102  2021  02
15     22273110           1       60  ...  202003  2020  03
16     22280976           1        6  ...  202107  2021  07
17     22308128           1       50  ...  202004  2020  04
18     19999957           4       64  ...  202005  2020  05
19     22315018           1       15  ...  202103  2021  03

[20 rows x 18 columns]

In [ ]:
print('Municipios no dataframe: ', df['Municipio'].unique())
print('CNAEs: ', df['cod_cnae_fiscal_primaria'].unique())
print('Motivos de encerramento ou baixa: ', df['Motivo'].unique())

Municipios no dataframe:  ['CAMPO VERDE' 'SAO FELIX DO ARAGUAIA' 'SINOP' 'ALTO BOA VISTA'
 'RONDONOPOLIS' 'CUIABA' 'PRIMAVERA DO LESTE' 'RIO BRANCO' 'ARAPUTANGA'
 'VARZEA GRANDE' 'ALTO GARCAS' 'ARENAPOLIS' 'ALTA FLORESTA' 'POCONE'
 'CANARANA' 'QUERENCIA' 'PONTES E LACERDA' 'NOVA UBIRATA'
 'CAMPOS DE JULIO' 'CACERES' 'SANTO AFONSO' 'TANGARA DA SERRA'
 'ROSARIO OESTE' 'PONTE BRANCA' 'GUARANTA DO NORTE' 'COLIDER'
 'LUCAS DO RIO VERDE' 'SAO JOSE DOS QUATRO MARCOS'
 'SANTO ANTONIO DO LEVERGER' 'NOVA CANAA DO NORTE' 'SORRISO' 'DIAMANTINO'
 'NOVA MONTE VERDE' 'BARRA DO GARCAS' 'PORTO DOS GAUCHOS' 'ITAUBA'
 'PARANAITA' 'CONFRESA' 'NOVA MUTUM' 'PEIXOTO DE AZEVEDO' 'ALTO ARAGUAIA'
 'NOBRES' 'AGUA BOA' 'NOVO SAO JOAQUIM' 'PEDRA PRETA' 'BRASNORTE'
 'MARCELANDIA' 'JUINA' 'NOVA XAVANTINA' 'PARANATINGA' 'JUSCIMEIRA'
 'VILA BELA DA SANTISSIMA TRINDADE' 'CANABRAVA DO NORTE'
 'SAO JOSE DO RIO CLARO' 'UNIAO DO SUL' 'SAPEZAL' 'TORIXOREU' 'ARIPUANA'
 'CAMPO NOVO DO PARECIS' 'APIACAS' "MIRASSOL D'OESTE" 'ALTO TAQUARI'
 'NOVA OLIMPIA' 'ACORIZAL' 'TERRA NOVA DO NORTE' 'GUIRATINGA'
 'IPIRANGA DO NORTE' 'VILA RICA' 'NOVA GUARITA' 'JURUENA'
 'CHAPADA DOS GUIMARAES' 'VERA' 'ITANHANGA' 'JUARA' 'RIBEIRAO CASCALHEIRA'
 'SANTA RITA DO TRIVELATO' 'POXOREU' 'ITIQUIRA' 'JACIARA' 'CASTANHEIRA'
 'MATUPA' 'BARRA DO BUGRES' 'FELIZ NATAL' 'SANTA CRUZ DO XINGU'
 'COCALINHO' 'GENERAL CARNEIRO' 'JAURU' 'CLAUDIA' 'PONTAL DO ARAGUAIA'
 'NOVA NAZARE' 'ARAGUAIANA' 'TESOURO' 'SAO JOSE DO POVO' 'TAPURAH'
 "LAMBARI D'OESTE" 'RONDOLANDIA' 'COTRIGUACU' 'SALTO DO CEU'
 'SAO PEDRO DA CIPA' 'LUCIARA' 'SERRA NOVA DOURADA' 'NORTELANDIA'
 'SANTA CARMEM' 'PORTO ESPERIDIAO' 'JANGADA' 'SANTO ANTONIO DO LESTE'
 'COLNIZA' 'NOVA BANDEIRANTES' 'PLANALTO DA SERRA' "GLORIA D'OESTE"
 'VALE DE SAO DOMINGOS' 'ALTO PARAGUAI' 'RIBEIRAOZINHO'
 'BOM JESUS DO ARAGUAIA' 'CAMPINAPOLIS' 'NOVA SANTA HELENA' 'CURVELANDIA'
 'TABAPORA' 'DENISE' 'COMODORO' 'NOVO MUNDO' 'BARAO DE MELGACO'
 'GAUCHA DO NORTE' 'NOVA MARILANDIA' 'NOVO SANTO ANTONIO' 'CARLINDA'
 'PORTO ALEGRE DO NORTE' 'NOVO HORIZONTE DO NORTE' 'DOM AQUINO'
 'NOVA MARINGA' "FIGUEIROPOLIS D'OESTE" 'SAO JOSE DO XINGU'
 'NOSSA SENHORA DO LIVRAMENTO' 'SANTA TEREZINHA' 'NOVA BRASILANDIA'
 'INDIAVAI' 'PORTO ESTRELA' "CONQUISTA D'OESTE" 'NOVA LACERDA'
 'ARAGUAINHA' 'RESERVA DO CABACAL']
CNAEs:  ['4623109' '4618499' '4729699' '9521500' '7490103' '2542000' '8220200'
 '4541206' '4754702' '4759899' '5611203' '4321500' '8599699' '8130300'
 '1096100' '4723700' '7319002' '4781400' '4729602' '3832700' '9602501'
 '3211602' '0161001' '7732201' '3314711' '8211300' '4520005' '1094500'
 '4330403' '8219999' '3811400' '5611201' '5611204' '4330405' '4772500'
 '4784900' '6821801' '4751201' '4930202' '4924800' '4530703' '2950600'
 '5822101' '4712100' '7319003' '4789002' '4541203' '4520001' '4721102'
 '8630503' '6511102' '8599604' '6462000' '4399103' '8011101' '4789099'
 '4763602' '3317102' '3101200' '6422100' '4634601' '4622200' '4771701'
 '4774100' '4755502' '4755503' '4661300' '5912099' '7711000' '4789005'
 '7729202' '1012101' '9313100' '4763601' '4543900' '9602502' '4753900'
 '1091102' '4763603' '4789004' '4763604' '0161099' '5612100' '4619200'
 '4634603' '4743100' '4724500' '4789001' '5620101' '9492800' '4789008'
 '3511501' '4771704' '9609208' '0115600' '5320202' '4930201' '8230001'
 '4722901' '8550302' '4322302' '8712300' '9430800' '4744001' '7719599'
 '4744002' '1610203' '4520002' '1622699' '4611700' '4637199' '6822600'
 '6512000' '8630501' '6491300' '4681803' '4761001' '8511200' '7739001'
 '1412602' '8230002' '8592999' '6920601' '4313400' '1053800' '0220901'
 '4632002' '4754701' '9601701' '4782201' '7911200' '6110803' '5620102'
 '8291100' '4683400' '2391503' '8299707' '4741500' '1011201' '8640205'
 '4330404' '8650004' '4520007' '4330402' '4649410' '6424703' '0141501'
 '2511000' '9512600' '4759801' '4632001' '4613300' '4711302' '4752100'
 '9329801' '4785799' '6619302' '7319099' '3314707' '6190601' '4692300'
 '9609299' '8299799' '4520006' '4110700' '4923001' '5620104' '5510803'
 '3329501' '5211701' '5812301' '1813099' '8630502' '4520003' '7420001'
 '4614100' '8592901' '8650099' '9511800' '4729601' '9609202' '2062200'
 '4722902' '7500100' '9700500' '9001902' '5819100' '4639701' '4783101'
 '3321000' '4646001' '4929902' '4930204' '4744099' '8020002' '4120400'
 '5211702' '2391502' '4399105' '7020400' '7810800' '7312200' '5611205'
 '0151201' '1813001' '6209100' '0163600' '5320201' '4649408' '7721700'
 '6810203' '2539001' '5240199' '4530705' '0161003' '8532500' '8599605'
 '5112901' '9529199' '4721104' '3299099' '4742300' '5250803' '7733100'
 '8650003' '5813100' '4773300' '8593700' '9609206' '5590699' '6201502'
 '8513900' '8599603' '5620103' '3299003' '1093701' '4511102' '4744004'
 '4929901' '8650002' '8621602' '4763605' '4618401' '1629301' '8640202'
 '1529700' '7112000' '3311200' '6201501' '1412601' '6622300' '7119704'
 '6021700' '7739002' '6319400' '9529105' '9529102' '1031700' '3314712'
 '5229099' '8630599' '4330499' '7739099' '3314709' '5811500' '4612500'
 '4645101' '4789007' '4322303' '4399199' '2512800' '7490104' '8630504'
 '9601703' '0121101' '4782202' '1531901' '0161002' '1531902' '4329101'
 '8292000' '4681804' '5211799' '4635499' '1091101' '2532201' '8592903'
 '7740300' '7912100' '2599301' '4530701' '5510801' '4744003' '8219901'
 '8129000' '1352900' '0162801' '1821100' '5590601' '4684299' '1052000'
 '4617600' '4713002' '4649499' '7723300' '1013901' '7990200' '1422300'
 '8640207' '6190699' '7731400' '6010100' '2592602' '5099899' '4322301'
 '3319800' '5212500' '3313901' '5229002' '4623199' '4744006' '1359600'
 '2342702' '4633801' '4632003' '4213800' '7311400' '9329899' '4761003'
 '4783102' '4399104' '1340599' '5812302' '7820500' '5223100' '1749400'
 '1095300' '4721103' '3212400' '7111100' '8610101' '4530704' '4921301'
 '1122401' '6912500' '0116499' '4511103' '6511101' '4731800' '9491000'
 '4299599' '2222600' '2223400' '4663000' '9200301' '0220904' '7722500'
 '1061901' '5829800' '1413402' '8512100' '4686902' '2399101' '4755501'
 '4649401' '4689399' '4771703' '4644301' '9329802' '3012100' '2330303'
 '6436100' '2212900' '3329599' '6499999' '1092900' '1931400' '4671100'
 '4711301' '4635402' '4211101' '4644302' '4744005' '0154700' '0210107'
 '2822402' '4761002' '8112500' '8690901' '2330301' '4649404' '4652400'
 '1351100' '4541204' '2920401' '4757100' '2330302' '4616800' '2829199'
 '0162899' '9319199' '0810006' '4930203' '1811301' '9529104' '4311801'
 '3314706' '5111100' '6920602' '9002702' '9001905' '7420004' '5590602'
 '1411801' '7420002' '9102302' '8690999' '4923002' '5911102' '2833000'
 '4665600' '4771702' '4291000' '7732202' '1539400' '4687703' '8122200'
 '4623106' '3312103' '3314799' '3314710' '4399101' '6810201' '3299004'
 '7119703' '1099604' '1012103' '4645102' '8599601' '0230600' '8533300'
 '4639702' '4520004' '4635401' '1822999' '4669999' '4511101' '3299006'
 '6911701' '1413401' '9001906' '5920100' '1121600' '7729201' '8011102'
 '1099605' '4689301' '8610102' '1099699' '1065101' '3831901' '2013402'
 '7120100' '3702900' '4681802' '0133404' '8640299' '6120501' '0141502'
 '3313999' '1011205' '6202300' '0112101' '1032599' '8650006' '6463800'
 '5310502' '1610204' '7320300' '4520008' '6203100' '4642701' '4623101'
 '4221903' '8650001' '9609207' '6612604' '4789003' '6492100' '7830200'
 '4329103' '7490199' '7729203' '5091201' '4512902' '4929904' '6493000'
 '6399200' '9001901' '5011401' '6612605' '6821802' '3314704' '9603303'
 '4679601' '5911199' '1066000' '4922102' '0210101' '4789006' '0724301'
 '4672900' '3314708' '4921302' '4635403' '6619303' '8121400' '4643501'
 '8888888' '8520100' '4637106' '4679604' '4693100' '1510600' '0133499'
 '4511104' '7490101' '2599399' '2930101' '1311100' '4623103' '8111700'
 '4713004' '4330401' '4756300' '4530706' '4541207' '6130200' '6911702'
 '1069400' '6619399' '6810202' '3520402' '1051100' '4649402' '4647801'
 '1013902' '8411600' '4641902' '2061400' '4922101' '5590603' '4312600'
 '1340501' '9529103' '4679602' '2219600' '4542101' '4642702' '6612601'
 '4512901' '4221902' '7739003' '4541202' '9101500' '8630506' '6311900'
 '2319200' '8020001' '1063500' '8592902' '4646002' '3316301' '5250804'
 '0210106' '9321200' '4732600' '1629302' '0152102' '2330399' '3314702'
 '9311500' '4687701' '1354500' '4785701' '1412603' '1033302' '8800600'
 '0159801' '2949299' '4637104' '4221904' '3314716' '1622602' '6110801'
 '4621400' '4691500' '4681801' '2399199' '1414200' '4754703' '1621800'
 '8299701' '9329804' '7319004' '9319101' '2330305' '9499500' '1064300'
 '2825900' '4637107' '2052500' '4645103' '1623400' '8640208' '4292801'
 '3314717' '8591100' '0210108' '3600602' '9529101' '0162803' '7119799'
 '0111302' '4542102' '7119701' '4530702' '9603304' '4751202' '0990402'
 '4637101' '1041400' '3511502' '3314719' '3292202' '1822901' '4222701'
 '3291400' '1721400' '0322104' '3839499' '1932200' '3250706' '4615000'
 '2073800' '1081301' '4651601' '3831999' '8711502' '1521100' '4636202'
 '0810002' '4641903' '4212000' '0893200' '9001999' '8621601' '3103900'
 '0220902' '2521700' '9529106' '7119702' '5099801' '6143400' '0210104'
 '4633802' '2424502' '8299704' '8425600' '2442300' '2539002' '8531700'
 '5091202' '4679699' '3299005' '1081302' '8030700' '5021101' '2840200'
 '7410202' '8599602' '5911101' '4618402' '3250707' '0159802' '9002701'
 '6391700' '4541201' '4631100' '9312300' '4673700' '2823200' '1741901'
 '4391600' '2852600' '8550301' '8299706' '8640201' '0322101' '1413403'
 '0139306' '2599302' '4329105' '3312102' '4687702' '4319300' '1093702'
 '4929999' '6204000' '2229399' '9329803' '0142300' '2099199' '5310501'
 '2451200' '4679603' '8541400' '6437900' '8720499' '4311802' '8660700'
 '2022300' '6621501' '4292802' '9420100' '9102301' '4762800' '6629100'
 '4669901' '1312000' '9493600' '1731100' '3104700' '2349499' '6421200'
 '1322700' '2740602' '2790299' '4623102' '1321900' '2949201' '0990403'
 '0111399' '7420003' '3099700' '3314718' '2092401' '4634602' '0155501'
 '3812200' '3839401' '2330304' '4623108' '5229001' '8640203' '9412099'
 '8640204' '4662100' '3314701' '9411100' '0162802' '1122403' '4222702'
 '2930103' '0134200' '6461100' '8640210' '1111902' '9103100' '4929903'
 '6541300' '3240003' '1533500' '0155505' '7210000' '0153901' '3240099'
 '0729404' '0151203' '2229303' '7490105' '2610800' '1099601' '1071600'
 '8730199' '5823900' '0321302' '8690903' '8299705' '4329199' '1812100'
 '0220903' '2040100' '3102100' '2093200' '1811302' '2063100' '3211601'
 '2731700' '4681805' '3314713' '4221901' '6613400' '1411802' '4329102'
 '7410299' '2543800' '8640206' '8640211' '0899102' '2593400' '3314720'
 '1111901' '5510802' '2862300' '0311601' '5913800' '3092000' '4211102']
Motivos de encerramento ou baixa:  ['EXTINCAO POR ENCERRAMENTO LIQUIDACAO VOLUNTARIA' 'INCORPORACAO'
 'EXTINCAO-UNIFICACAO DA FILIAL'
 'EXTINCAO - TRATAMENTO DIFERENCIADO DADO AS ME E EPP (LEI COMPLEMENTAR NUMERO 123/2006)'
 'INAPTIDAO' 'EXTINCAO PELO ENCERRAMENTO DA LIQUIDACAO JUDICIAL'
 'ENCERRAMENTO DA FALENCIA' 'ENCERRAMENTO DA LIQUIDACAO'
 'INEXISTENCIA DE FATO']

# Informações & insights

In [ ]:
qtd_baixa = df['cnpj_basico'].nunique()
print('Quantidade de empresas baixadas: ', qtd_baixa)

qtd_municipios = df['end_cod_municipio'].nunique()
print('Quantidade de municipios no dataframe: ', qtd_municipios )

Qtd_ramos_afetados = df['Ramo da empresa'].nunique()
print('Quantidade de ramos economicos afetados: ', Qtd_ramos_afetados )

Quantidade de empresas baixadas:  44059
Quantidade de municipios no dataframe:  141
Quantidade de ramos economicos afetados:  819

In [ ]:
# Contagem de baixas de empresas por município
topcinco_baixas = df['Municipio'].value_counts().nlargest(5)
quantidade_ocorrencias_topcinco = df['Municipio'].value_counts().nlargest(5).sum()

print(topcinco_baixas)
print('Quantidade total de baixas no TOP 5 municipios: ' + str(quantidade_ocorrencias_topcinco))

CUIABA           8466
VARZEA GRANDE    2888
RONDONOPOLIS     2632
SINOP            2041
SORRISO          1121
Name: Municipio, dtype: int64
Quantidade total de baixas no TOP 5 municipios: 17148

In [ ]:
# Representatividade do top 10 sobre o todo

percentual_rep_topcinco = float(int(quantidade_ocorrencias_topcinco) / int(df['cnpj_basico'].nunique()))
percentual_rep_topcinco = '{0:.0%}'.format(percentual_rep_topcinco)
print('O top 5 representa ' + str(percentual_rep_topcinco) + ' das ocorrências no estado do ' + str(df['end_uf'].unique()))

O top 5 representa 39% das ocorrências no estado do ['MT']
Categories (1, object): ['MT']

In [ ]:
#Distribuição dos motivos

qtd_por_motivos =  df['Motivo'].value_counts()
qtd_por_motivos

EXTINCAO POR ENCERRAMENTO LIQUIDACAO VOLUNTARIA                                           44713
INCORPORACAO                                                                                 83
INAPTIDAO                                                                                    56
INEXISTENCIA DE FATO                                                                         11
ENCERRAMENTO DA FALENCIA                                                                     10
EXTINCAO PELO ENCERRAMENTO DA LIQUIDACAO JUDICIAL                                             3
EXTINCAO-UNIFICACAO DA FILIAL                                                                 3
EXTINCAO - TRATAMENTO DIFERENCIADO DADO AS ME E EPP (LEI COMPLEMENTAR NUMERO 123/2006)        1
ENCERRAMENTO DA LIQUIDACAO                                                                    1
Name: Motivo, dtype: int64

In [ ]:
#Distribuição dos ramos mais afetados no estado de xxx

Top_cinco_ramos = df['Ramo da empresa'].value_counts().nlargest(5)
Top_cinco_ramos

Atividades de organizações políticas                                                                                            12903
Comércio varejista de artigos do vestuário e acessórios                                                                          2423
Promoção de vendas                                                                                                               1099
Lanchonetes, casas de chá, de sucos e similares                                                                                   996
Comércio varejista de mercadorias em geral, com predominância de produtos alimentícios - minimercados, mercearias e armazéns      805
Name: Ramo da empresa, dtype: int64

In [ ]:
# Investigar ramo Atividades de organizações políticas

tabela_invest = df.loc[(df['Ramo da empresa'] == 'Atividades de organizações políticas')]


tabela_invest_mes = tabela_invest.groupby('Ano/Mes')['cnpj_basico'].count()
tabela_invest_mes
#tabela_invest.head()

Ano/Mes
202003        1
202005        1
202006        2
202009       32
202102    12830
202103       32
202104        3
202106        1
202107        1
Name: cnpj_basico, dtype: int64

In [ ]:
# Datas com maior baixa de empresas

Top_cinco_datas = df['data_situacao_cadastral'].value_counts().nlargest(5)
Top_cinco_datas

2021-02-28    12607
2021-07-19      330
2021-08-31      239
2021-08-25      194
2021-05-31      193
Name: data_situacao_cadastral, dtype: int64

In [ ]:
# Análise de baixa por datas

#quantidade média de baixas por mês
qtd_meses_periodo = df['Ano/Mes'].nunique()
qtd_media_baixas_mes = qtd_baixa/qtd_meses_periodo
print('A quantidade média de baixas por mês foi: ' + str(qtd_media_baixas_mes))


#Histograma
tabela_baixas_por_mes_ano = df.groupby('Ano/Mes')['cnpj_basico'].count()

display(tabela_baixas_por_mes_ano)

A quantidade média de baixas por mês foi: 2447.722222222222

Ano/Mes
202002      347
202003     2020
202004     1447
202005     1807
202006     1666
202007     1840
202008     1699
202009     1554
202010     1674
202011     1514
202012     1734
202101     2163
202102    15027
202103     2411
202104     1822
202105     2290
202106     2079
202107     1787
Name: cnpj_basico, dtype: int64

In [ ]:
# inteligencia de mercado
tab_inteligencia = df.groupby(['Municipio','end_bairro','Ramo da empresa'])['cnpj_basico'].count().reset_index()
tab_inteligencia = tab_inteligencia.loc[(tab_inteligencia['Ramo da empresa'] != 'Atividades de organizações políticas')]
tab_inteligencia['Ramo da empresa'] = tab_inteligencia['Ramo da empresa'].astype('category')
tab_inteligencia = tab_inteligencia.sort_values('cnpj_basico', ascending=False)
# tab_inteligencia

# inteligencia de mercado - tabela com maior baixa de empresas por ramo, bairro e municipio
tab_top_ramo = tab_inteligencia.drop_duplicates('Ramo da empresa', keep = 'first')
tab_top_ramo.head(30)

In [ ]:
cidades = ['CUIABA', 'VARZEA GRANDE', 'RONDONOPOLIS', 'SINOP', 'CACERES']
for cidade in cidades:
    display(cidade)
    display(df.loc[(df['Municipio']==cidade)&(df['Ramo da empresa']!='Atividades de organizações políticas')].groupby('Ramo da empresa').count().sort_values('cnpj_ordem', ascending=False)['cnpj_basico'][0:6])

'CUIABA'

Ramo da empresa
Comércio varejista de artigos do vestuário e acessórios                            571
Promoção de vendas                                                                 335
Restaurantes e similares                                                           221
Cabeleireiros, manicure e pedicure                                                 216
Lanchonetes, casas de chá, de sucos e similares                                    210
Fornecimento de alimentos preparados preponderantemente para consumo domiciliar    198
Name: cnpj_basico, dtype: int64

'VARZEA GRANDE'

Ramo da empresa
Comércio varejista de artigos do vestuário e acessórios                                                                           167
Promoção de vendas                                                                                                                 90
Comércio varejista de mercadorias em geral, com predominância de produtos alimentícios - minimercados, mercearias e armazéns       84
Comércio varejista de produtos alimentícios em geral ou especializado em produtos alimentícios não especificados anteriormente     74
Restaurantes e similares                                                                                                           61
Lanchonetes, casas de chá, de sucos e similares                                                                                    55
Name: cnpj_basico, dtype: int64

'RONDONOPOLIS'

Ramo da empresa
Comércio varejista de artigos do vestuário e acessórios                                                                151
Promoção de vendas                                                                                                      96
Transporte rodoviário de carga, exceto produtos perigosos e mudanças, intermunicipal, interestadual e internacional     69
Obras de alvenaria                                                                                                      69
Lanchonetes, casas de chá, de sucos e similares                                                                         57
Atividades de fornecimento de infra-estrutura de apoio e assistência a paciente no domicílio                            57
Name: cnpj_basico, dtype: int64

'SINOP'

Ramo da empresa
Comércio varejista de artigos do vestuário e acessórios                                                                132
Promoção de vendas                                                                                                      97
Lanchonetes, casas de chá, de sucos e similares                                                                         64
Transporte rodoviário de carga, exceto produtos perigosos e mudanças, intermunicipal, interestadual e internacional     57
Obras de alvenaria                                                                                                      34
Restaurantes e similares                                                                                                33
Name: cnpj_basico, dtype: int64

'CACERES'

Ramo da empresa
Comércio varejista de artigos do vestuário e acessórios                                                                         54
Lanchonetes, casas de chá, de sucos e similares                                                                                 31
Promoção de vendas                                                                                                              30
Comércio varejista de mercadorias em geral, com predominância de produtos alimentícios - minimercados, mercearias e armazéns    29
Cabeleireiros, manicure e pedicure                                                                                              18
Fornecimento de alimentos preparados preponderantemente para consumo domiciliar                                                 17
Name: cnpj_basico, dtype: int64

In [ ]:
cidades = ['CUIABA', 'VARZEA GRANDE', 'RONDONOPOLIS', 'SINOP', 'CACERES']
for cidade in cidades:
    display(cidade)
    display(df.loc[(df['Municipio']==cidade)&(df['Ramo da empresa']!='Atividades de organizações políticas')].groupby('Ramo da empresa').count().sort_values('cnpj_ordem', ascending=False)[0:6])

'CUIABA'

                                                    cnpj_basico  ...  Ano/Mes
Ramo da empresa                                                  ...
Comércio varejista de artigos do vestuário e ac...          571  ...      571
Promoção de vendas                                          335  ...      335
Restaurantes e similares                                    221  ...      221
Cabeleireiros, manicure e pedicure                          216  ...      216
Lanchonetes, casas de chá, de sucos e similares             210  ...      210
Fornecimento de alimentos preparados prepondera...          198  ...      198

[6 rows x 18 columns]

'VARZEA GRANDE'

                                                    cnpj_basico  ...  Ano/Mes
Ramo da empresa                                                  ...
Comércio varejista de artigos do vestuário e ac...          167  ...      167
Promoção de vendas                                           90  ...       90
Comércio varejista de mercadorias em geral, com...           84  ...       84
Comércio varejista de produtos alimentícios em ...           74  ...       74
Restaurantes e similares                                     61  ...       61
Lanchonetes, casas de chá, de sucos e similares              55  ...       55

[6 rows x 18 columns]

'RONDONOPOLIS'

                                                    cnpj_basico  ...  Ano/Mes
Ramo da empresa                                                  ...
Comércio varejista de artigos do vestuário e ac...          151  ...      151
Promoção de vendas                                           96  ...       96
Transporte rodoviário de carga, exceto produtos...           69  ...       69
Obras de alvenaria                                           69  ...       69
Lanchonetes, casas de chá, de sucos e similares              57  ...       57
Atividades de fornecimento de infra-estrutura d...           57  ...       57

[6 rows x 18 columns]

'SINOP'

                                                    cnpj_basico  ...  Ano/Mes
Ramo da empresa                                                  ...
Comércio varejista de artigos do vestuário e ac...          132  ...      132
Promoção de vendas                                           97  ...       97
Lanchonetes, casas de chá, de sucos e similares              64  ...       64
Transporte rodoviário de carga, exceto produtos...           57  ...       57
Obras de alvenaria                                           34  ...       34
Restaurantes e similares                                     33  ...       33

[6 rows x 18 columns]

'CACERES'

                                                    cnpj_basico  ...  Ano/Mes
Ramo da empresa                                                  ...
Comércio varejista de artigos do vestuário e ac...           54  ...       54
Lanchonetes, casas de chá, de sucos e similares              31  ...       31
Promoção de vendas                                           30  ...       30
Comércio varejista de mercadorias em geral, com...           29  ...       29
Cabeleireiros, manicure e pedicure                           18  ...       18
Fornecimento de alimentos preparados prepondera...           17  ...       17

[6 rows x 18 columns]

In [ ]:
for cidade in cidades:
    display (df[df['Municipio']==cidade]).value_counts().

       cnpj_basico  cnpj_ordem  cnpj_dv  ...   Ano Mes Ano/Mes
6         18252508           2       23  ...  2020  09  202009
8         22194897           1       74  ...  2020  12  202012
9         22196481           1       95  ...  2020  07  202007
10        22199597           1       88  ...  2020  10  202010
13        22236159           1       42  ...  2021  03  202103
...            ...         ...      ...  ...   ...  ..     ...
44857     21410163           1       12  ...  2020  11  202011
44859     21458890           1       50  ...  2020  10  202010
44862     21490460           1       15  ...  2020  04  202004
44878     21940516           1       96  ...  2020  05  202005
44879     21779182           1       10  ...  2020  09  202009

[8466 rows x 19 columns]

AttributeError: ignored